.header {
    height: 80px;
    background-color: firebrick;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 35px;
}

.logo {
    height: 187px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

.menu a:hover {
    color: limegreen;
}

.btn-food {
    height: 37px;
    border: 0;
    border-radius: 10px;
    background-color: limegreen;
    color: white;

}

.btn-food:hover {
    background-color: firebrick;

}